<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'mainhead.html' %}
</head>
<body>

     {% include 'navigationBar.html' %}

    <div class="login-container">
        <h2>Login to your account</h2>

        <form class="login-form">
            <label>Username</label>
            <input type="text" name="username" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit" class="btn-primary">Login</button>
        </form>
    </div>

    <!-- Link your JavaScript -->
    <script src="static\login.js"></script>
</body>
</html>
